<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <logo>
    <a class="" routerLink="/" routerLinkActive="active">
      <img src="assets/img/Monkey-512.png" height="50px" alt="CHIMP">
    </a>
  </logo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn" routerLink="/about" routerLinkActive="active">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" routerLink="/test-center" routerLinkActive="active">test centers</a>
      </li>
    </ul>
  </div>
</nav>
