<div class="container">
  <div class="row">
    <h3 class="col-12">Find a test center near you</h3>
    <small class="col-12">current only locations in the United States can be viewed</small>
    <div class="col-12">&nbsp;</div>
    <div class="col-12">
      <form [formGroup]="searchTestCenterForm" (ngSubmit)="onSearch()">
        <div class="form-row">
          <div class="form-group col-4">
            <input type="number" placeholder="zipcode" formControlName="zipcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
          </div>
          <div class="form-group col">
            <input type="text" placeholder="state" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
          </div>
          <div class="form-group col">
            <button class="btn btn-primary mr-1">Find</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12" *ngIf="testLocations.length === 0" style="min-height: 200px;">No locations found</div>
    <div class="col-12" *ngIf="testLocations.length > 0" style="min-height: 200px;">
      <div *ngFor="let location of testLocations" class="p-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ location.name }}</h5>
            <div *ngFor="let address of location.physical_address" class="p-2">
              <span>Address: {{address.address_1}} {{address.city}} {{address.postal_code}}</span>
            </div>
            <div *ngFor="let phone of location.phones" class="p-2">
            	<div class="" *ngIf="phone.number !== 'None'">
            		<span>type:&nbsp;</span>{{phone.type}}<br>
            		<span>number:&nbsp;</span>{{phone.number}}<br>
            		<span>language:&nbsp;</span>{{phone.language}}
            	</div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  export interface Address {
    id: number;
    location_id: number;
    address_1: string;
    city: string;
    postal_code: string;
    region: string;
    state_province: string;
    country: string;
  }
 -->
<!--  export interface TestLocation {
   id: number;
   organization_id: number;
   name: string;
   alternate_name: string;
   description: string;
   updated: string;
   featured: boolean;
   physical_address: Address[];
   phones: Phone[];
   regular_schedule: Schedule[];
 }
 -->
