<div class="container">
  <div class="row">
    <h3 class="col-12">About</h3>
    <div class="col-12">
      <p class="lead">
        CHIMP (COVID-19 Heat Map Application) is a interactive program used for providing the latest news for COVID-19. Orginal created as <a href="https://www.regis.edu/">Regis University</a> senior capstone project. This sites intention is to filter through all the misinformation about COVID-19 and help people get to the true. CHIMP also offer live data for COVID-19 status in your area. Stay in the known and Stay safe.
      </p>
      <h6>About the Author</h6>
      <p class="lead">
        CHIMP leader developer | creator is Jerum Hubbert. Jerum Hubbet is software engineer who inspired to create beautiful solutions. If you have any concerns about the site please feel free to email Jerum <a href="mailto:jhubbert@regis.edu">jhubbert@regis.edu</a>
      </p>
    </div>
  </div>
</div>
